*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

input[type="text"],
input[type="submit"],
button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body{
    background: #eee;
    color: #313154;
}

section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

h3,h2{
    color: #313154;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4{
    color: #888;
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.welcome .title{
    display: flex;
}

.welcome .title input{
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
}

.welcome .title,
.welcome .title input{
    color: #313154;
    font-size: 1.5em;
    font-weight: 700;
}

.list input[type="text"]{
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.3rem;
    color: #313154;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

input[type="checkbox"]{
    display: none;
}

.done{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #3a82ee;
    box-shadow: 0 0 4px rgba(58, 130, 238, 0.7);
}

.done::after{
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    transition: 0.1s ease-in-out;
    background-color: rgb(58, 130, 238);
    box-shadow: 0 0 4px rgba(58, 130, 238, 0.7);
}

input:checked ~ .done::after{
    width: 10px;
    height: 10px;
    opacity: 1;
}

.list input[type="submit"]{
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: #ea40a4;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px rgba(234, 64, 164, 0.7);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.list input[type="submit"]:hover{
    opacity: 0.8;
}

.todolist .tolist{
    margin: 1rem 0;
}

.todolist .todoitem{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgb(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.todoitem label{
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todoitem .todocontent{
    flex: 1 1 0%;
}

.todoitem .todocontent input{
    color: #313154;
    font-size: 1.125rem;
}

.todoitem .actions{
    display: flex;
    align-items: center;
}

.todoitem .actions button{
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.todoitem .actions .edit{
    margin-right: 0.5rem;
    background-color: #ea40a4;
}

.todoitem .actions .delete{
    background-color: #ff5b57;
}

.todoitem.redone .todocontent input{
    text-decoration: line-through;
    color: #888;
}